<h1 style="text-align: center;">Rss-App</h1>
  <div class="container row row-cols-1 row-cols-md-3 div-card">
    <div class="col mb-4">
      <div class="card h-100 text-primary" >
        <div class="card-body text-secondary">
            <h6 class="card-title text-justify"></h6>
            <p><span></span></p>
            <p style="text-align: right;"></p>
        </div>
      </div>
    </div>
    <div *ngIf="!rss" class="col mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div *ngIf="!rss" class="col mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>